.appBar{
    background-color:#1D202F!important;
    color:#46BB99!important;
}

.container{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.condition-list{
    width:30%;
    display:flex;
    justify-content:space-around;
}

.condition-list p{
    font-weight: bold;
}